div {
    width: 500px;
    border: 2px solid red;
}

div p{
    text-align: center;
    color:yellow;
}

div, p{
    text-align: center;
    color: gray;
}

div > p{
    text-align: center;
    color: gray;
}